@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --base-clr: #0F172A;
    --line-clr: #1E293B;
    --hover-clr: #334155;
    --text-clr: #F8FAFC;
    --accent-clr: #39FF14;
    --secondary-text-clr: #94A3B8;
    --danger-clr: #ef4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--base-clr);
    color: var(--text-clr);
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
}

#sidebar{
    border-right: 2px solid var(--line-clr);
    
}